body{
    color: rgb(110, 167, 218);
    background: rgb(78, 70, 150);
    margin: 0px;
}
header{
    border-bottom: solid 2px rgb(56, 24, 173);
    padding: 20px;
    font-size: 32px;
    color: fuchsia;
}