
body{
    color: rgb(255, 255, 255);
    background: rgb(74, 69, 129);
    margin: 8px;
    font-size: 32px;
}
header{
    border-bottom: solid 10px rgb(100, 83, 160);
    padding: 20px;
    font-size: 64px;
    color: rgb(156, 5, 226);
    margin-right: 10%;
    margin-left: 10%;
}
section {
    background: rgb(82, 62, 119) ;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
   
}
.chamada-texto {
    margin-right: 10%;
    margin-left: 10%;
    font-size: 25px;
 }
 document.addEventListener("DOMContentLoaded", function() {
    const starsContainer = document.querySelector('.stars');
    
    // Função para gerar estrelas
    function createStars() {
      const starCount = 200;
      for (let i = 0; i < starCount; i++) {
        const star = document.createElement('div');
        star.classList.add('star');
        // Posições aleatórias para as estrelas
        star.style.left = `${Math.random() * 100}vw`;
        star.style.top = `${Math.random() * 100}vh`;
        star.style.animationDuration = `${Math.random() * 1.5 + 1.5}s`; // Twinkling effect
        starsContainer.appendChild(star);
      }
    }
  
    createStars();
  });
  