body{
    color: rgb(255, 255, 255);
    background: rgb(74, 69, 129);
    margin: 4px;
    font-size: 32px;
}
header{
    border-bottom: solid 2px rgb(56, 24, 173);
    padding: 20px;
    font-size: 32px;
    color: rgb(156, 5, 226);
}
section {
    background: rgb(82, 62, 119) ;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
   
}
.chamada-texto {
    margin-right: 20%;
    font-size: 25px;
 }